.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.container > div {
    display: flex;
    flex-direction: column;
}

.col-filler {
    background-color: #DDCCEE;
}

.content {
    padding: 0.5em;
    background-color: #EEEEEE;
}

.content > div {
    margin: 0.5em;
}
