html, body, div#root, .app-container {
    height: 100%;
    margin: 0;
}

.noselect {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}


.header .title-display {
    margin: auto 0;
}

.header .profile-info {
    margin: 0.25em 0;
    text-align: right;
}

.login-text {
    color: #FFCCFF;
}

.login-text:hover {
    color: #FF77FF;
}


.tab-selector {
    display: flex;
    justify-content: space-evenly;
}

.task-item {
    list-style: none;
}
