html, body, div#root, .app-container {
	height: 100%;
	margin: 0;
}

.app-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.container div {
	display: flex;
	flex-direction: column;
}

.col-filler {
	background-color: #E7DDEE;
}

.content {
	background-color: #EEEEEE;
}

.footer {
	background-color: #9999FF;
}

.header, .content, .footer {
	padding: 0.5em;
}



.header {
	color: #EEEEFF;
	background-color: #000077;
	padding-left: 1em;
	padding-right: 1em;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.header .title-display {
	margin: 0.25em 0;
}

.header .profile-info {
	margin: 0.25em 0;
	text-align: right;
}
