html, body, div#root, .app-container {
    height: 100%;
    margin: 0;
}

.noselect {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}


.task-item {
    list-style: none;
}
