.tab-selector {
    display: flex;
    justify-content: space-evenly;
}

.tab-option {
    margin: 0;
}

.tab-option >h2 {
    margin: 0;
    padding: 0.25em 0.75em;
}

.tab-option :hover {
    color: #3300CC;
}

.tab-option.tab-selected {
    background-color: #DDCCEE;
}
